<div class="container">

  <div class="profile-index">
    <h1 class="user-index"><%= @user.first_name %> <%= @user.last_name %></h1>
    <%= link_to "Log out", destroy_user_session_path, class: 'btn btn-primary btn-logout', data: { turbo_method: :delete } %>
  </div>

  <div class="user-info-card">
    <%= image_tag(@user.image, class: "profile-pic", alt: "User photo") %>
    <div class="user-bookings-card">
      <h2>My Bookings</h2>
        <ul>
          <% @bookings.each do |booking| %>
            <li><strong><%= booking.animal.name %></strong> from <%= booking.start_date %> to <%= booking.finish_date %></li>
            <%= link_to animal_path(booking.animal), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel on #{booking.animal.name}?" } do %>
            <%= image_tag("delete.png", alt: "Delete", class: "delete-icon") %>
            <% end %>
          <% end %>
        </ul>
    </div>
  </div>

    <div class="animals-index">
      <h4>My animals</h4>
      <%= link_to 'Add an Animal', new_animal_path, class: 'btn btn-primary' %>
    </div>
        <div class="animal-cards row">
          <ul>
          <% current_user.animals.each do |animal| %>
          <div class="animal-card col-3 d-flex flex-column">
            <div class="card-image">
              <img src="https://static-00.iconduck.com/assets.00/animal-icon-2048x2048-rdj39f2s.png" alt="<%= animal.name %> image"/>
            </div>
            <div class="card-content">
              <li>
                <h3><%= animal.name %></h3>
                <p><strong>Species:</strong> <%= animal.species %></p>
                <p><strong>Price:</strong> <%= number_to_currency(animal.price) %></p>
                <p><strong>Location:</strong> <%= animal.location %></p>
                <p><strong>Description:</strong> <%= animal.description %></p>
                <%= link_to 'Show', animal_path(animal) %>
                <%= link_to "Delete", animal_path(animal), class: 'btn btn-warning', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
              </li>
            </div>
          <% end %>
          </div>
        </ul>
    </div>
  </div>
