<div class="container">
  <div class="user-info-card">
  <%= image_tag(@user.image, class: "profile-pic", alt: "User photo") %>
  <div class="profile-index">
    <div class="user-index">
      <h1 class="profile-head"><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>I've rented <%= pluralize(@user.bookings.count, 'buddies') %></p>
      <p>Email: <%= @user.email %></p>
      <%= link_to "Log out", destroy_user_session_path, class: 'btn btn-primary btn-logout btn-sm', data: { turbo_method: :delete } %>
   </div>

    <div class="user-bookings-card">
      <h1 class="profile-head">My Bookings</h1>
        <ul>
          <% @bookings.each do |booking| %>
            <li><strong><%= booking.animal.name %></strong> from <%= booking.start_date %> to <%= booking.finish_date %></li>
            <%= link_to animal_path(booking.animal), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel on #{booking.animal.name}?" } do %>
            <%= image_tag("delete.png", alt: "Delete", class: "delete-icon") %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

    <div class="user-animals-index">
      <h4>My animals</h4>
      <%= link_to 'Add an Animal', new_animal_path, class: 'btn btn-primary' %>
    </div>
    <ul class="user-animals-list">
      <% current_user.animals.each do |animal| %>
        <li class="user-animal-item">
          <div class="user-animal-card">
            <div class="user-animal-image-container">
              <%= cl_image_tag(animal.photo.key, class: "user-animal-image", alt: "animal main image") %>
            </div>
            <div class="user-animal-details">
              <h3 class="user-animal-name"><%= animal.name %></h3>
              <%= link_to 'Show', animal_path(animal), class: "btn-show-animal btn btn-info" %>
              <%= link_to "Delete", animal_path(animal), class: 'btn-delete-animal btn btn-warning', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
