<h1><%= @user.first_name %>'s Profile</h1>

<ul>
  <% @animals.each do |animal| %>
    <li>
      <h3><%= animal.name %></h3>
      <p><strong>Species:</strong> <%= animal.species %></p>
      <p><strong>Price:</strong> <%= number_to_currency(animal.price) %></p>
      <p><strong>Location:</strong> <%= animal.location %></p>
      <p><strong>Description:</strong> <%= animal.description %></p>
      <%= link_to 'Show', animal_path(animal) %>
    </li>
  <% end %>
</ul>

<%# list of their animals %>
<%# message them %>
<%# see their profile %>
<%# about section %>
