<h1>Add a New Animal</h1>

<%= simple_form_for @animal do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Animals', animals_path %>
