
<div class="form-container-add-an-animal">
  <div class="form-add-new-animal ">
    <h1>Add a PawBuddy</h1>
      <%= simple_form_for @animal do |f| %>
        <%= f.input :name %>
        <%= f.input :species %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :description %>
        <%= f.submit "Create a Buddy" %>
      <% end %>
      <%# <%= link_to 'Back to Animals', animals_path %>
      <a href="/animals" class='btn btn-secondary'>Back to Buddies</a>
  </div>
</div>
