<h1><%= @animal.name %>'s Profile</h1>

<div class="animal-details">
  <p><strong>Name:</strong> <%= @animal.name %></p>
  <p><strong>Species:</strong> <%= @animal.species %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@animal.price) %></p>
  <p><strong>Location:</strong> <%= @animal.location %></p>
  <p><strong>Description:</strong> <%= @animal.description %></p>
</div>



<%= form_with model: [ @animal, Booking.new ] do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div>
    <%= form.label :finish_date %>
    <%= form.date_select :finish_date %>
  </div>

  <div>
    <%= form.submit 'Book Now' %>
  </div>

  <% if @booking && @booking.errors.any? %>
    <div class="errors">
      <h2>Booking Errors:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back to Animals', animals_path %>

<%# book an animal %>
<%# see the animals details %>
<%# navigate to the owners profile %>
<%# leave a review? %>
